ALLOWED_ORIGINS=
FRONTEND_BASE_URL=
MIGRATION_URL=
GRPC_SERVER_ADDRESS=
REDIS_ADDRESS=
EMAIL_SENDER_NAME=
EMAIL_SENDER_ADDRESS=
GOOGLE_CLIENT_ID=
GOOGLE_REDIRECT_URL=
DB_URL=
TOKEN_SYMMETRIC_KEY=
EMAIL_SENDER_PASSWORD=
GOOGLE_CLIENT_SECRET=
OPENAI_API_KEY=
