# ECS / DNS (copy to infra.env for local overrides)
AWS_REGION=eu-west-2
AWS_ACCOUNT_ID=211125664612

ECS_CLUSTER_NAME=ytter
ECS_SERVICE_NAME=ytter-api
TASK_FAMILY=ytter-api

ROUTE53_ZONE_NAME=ytter.co.uk
API_HOST=api.ytter.co.uk

ECR_REPOSITORY=ytter

FARGATE_CPU=1024
FARGATE_MEMORY=2048
DESIRED_COUNT=1

# Required for CI deploys (construct from account + role names)
EXECUTION_ROLE_ARN=arn:aws:iam::211125664612:role/ytterEcsTaskExecutionRole
TASK_ROLE_ARN=arn:aws:iam::211125664612:role/ytterEcsTaskRole
LOG_GROUP=/ecs/ytter-api

# Branding logos
# S3_BUCKET=ytter-branding
# S3_REGION=eu-west-2
# S3_PUBLIC_BASE_URL=https://ytter-branding.s3.eu-west-2.amazonaws.com
